.mon_header {
  background-color: #555758;
  background-size: cover;
}
h1.titre {
  color: #ffba30;
  font-weight: bold;
  font-size: 60px;
  padding-top: 25px;
  font-family: none;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #555758;
}
.logo {
    width: auto;
    height: 10vh;
}
#nav-menu-mmrs {
  width: 100vw;
  background-color: #555758;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
  top: 0px;
  position: sticky;
  z-index: 1000;
}
  
  #nav-menu-mmrs > ul > li {
    display: inline;
    font-family: 'Playfair Display', serif;
    padding: 15px;
    font-size: 25px;
    text-transform: capitalize;
  }
  
  #nav-menu-mmrs > ul > li:nth-child(1) {
    font-weight: 700;
  }
  ul#id-menu-mmrs {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}
li:hover {
    background-color: #c3cfc9;
}
  section.footer-copyright{
      display: none;
  }
  a#custom-header > img {
    display: none;
}
.entete-mmrs {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;

}
.mon_slide {
  padding: 37% 0% 0% 0%;
  background-size: cover;
  width: 100%;
}
#page{
  padding-top: 30px;

}
nav.menu-mmrs-nav {
  background-color: #bbbaba;
  width: 100vw;
  padding-right: 40px;
	height:6vw;
}
li {
  list-style: none;
}
.menu-item {
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
}
/*slide show image*/
.texte_slide{
  color:#FFFB0A;
  font-size:3vw;
  line-height:1.2;
  text-align:center;
  font-family: monospace;
  text-shadow: -1px 1px black;
}
 /*jssor slider loading skin double-tail-spin css*/
 .jssorl-004-double-tail-spin img {
  animation-name: jssorl-004-double-tail-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.text-footer {
  display: flex;
}
.text-footer > p {
  padding: 30px 40px 10px 10px;
}
/*jssor slider bullet skin 031 css*/
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.6;stroke:#fff;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.8;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:1;stroke:#000;stroke-opacity:1;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;stroke-width:1600;fill-opacity:.6;}
.jssorb031 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
/*slide show image*/
p.copy {
  background-color: #00000054;
  color: #100c0c;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 0px!important;
}
img.logo_sociaux {
  width: 70px;
  border-radius: 12px;
  box-shadow: 0px 0px 2px 1px white;
}
.footer > a {
  padding: 20px;
}
.tg-container {
  background-color: #f7f7f794;
  padding: 5px;
  color: white;
}
